<h1>Lista de Parametros</h1>
<table class="table tablesorter table-striped table-bordered table-hover table-condensed" id="example">
  <thead>
          <tr>  
            <th>#</th>  
            <th>Fecha</th>  
            <th>Hora</th>  
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th>
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 
            <th>Grade</th> 

          </tr>  
  
  </thead>
  <tbody>
        <% @params.each do |row|%>
    <tr class="table">
      <td> <%= row.param1 %></td>
      <td> <%= row.param2 %></td>
      <td> <%= row.param3 %></td> 
      <td> <%= row.param4 %></td>
      <td> <%= row.param5 %></td>
      <td> <%= row.param6 %></td>
      <td> <%= row.param7 %></td>
      <td> <%= row.param8 %></td>
      <td> <%= row.param9 %></td>
      <td> <%= row.param10 %></td>
      <td> <%= row.param11 %></td>
      <td> <%= row.param12 %></td>
      <td> <%= row.param13 %></td>
      <td> <%= row.param14 %></td>
      <td> <%= row.param15 %></td>
      <td> <%= row.param16 %></td> 
      <td> <%= row.param17 %></td>
      <td> <%= row.param18 %></td>
      <td> <%= row.param19 %></td>
      <td> <%= row.param20 %></td>
      <td> <%= row.param21 %></td>
      <td> <%= row.param22 %></td>
      <td> <%= row.param23 %></td>
      <td> <%= row.param24 %></td>
      <td> <%= row.param25 %></td> 
      <td> <%= row.param26 %></td> 
      <td> <%= row.param27 %></td> 
      <td> <%= row.param28 %></td> 
      <td> <%= row.param29 %></td> 
      <td> <%= row.param30 %></td> 
      <td> <%= row.param31 %></td> 
      <td> <%= row.param32 %></td> 
      <td> <%= row.param33 %></td> 
      <td> <%= row.param34 %></td> 
      <td> <%= row.param35 %></td>      
      <td> <%= row.param36 %></td> 
      <td> <%= row.param37 %></td> 
      <td> <%= row.param38 %></td> 
      <td> <%= row.param39 %></td> 
      <td> <%= row.param40 %></td> 
      <td> <%= row.param41 %></td> 
      <td> <%= row.param42 %></td> 
      <td> <%= row.param43 %></td>
      <td> <%= row.param43 %></td>  
  </tr>  
  <% end %>
  </tbody>


<div class="pagination">  
  <ul>  
    <li><a href="#">Prev</a></li>  
    <li class="active">  
      <a href="#">1</a>  
    </li>  
    <li><a href="#">2</a></li>  
    <li><a href="#">3</a></li>  
    <li><a href="#">4</a></li>  
    <li><a href="#">Next</a></li>  
  </ul>  

</table>





